.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f3f4ff;
  font-weight: bold;
  text-align: left;
  max-height: 50px;
}

tr {
  background-color: #fff3ed;
  height: 70px;
}

.id {
  width: auto;
}

.pin {
  width: auto;
}

.place {
  width: auto;
}

.state {
  width: auto;
}

.landmark {
  width: 20%;
}

.phone {
  width: auto;
}

.status {
  width: auto;
}
.pending {
  color: green;
}
.orderAmout {
  font-weight: 700;
  color: rgb(54, 102, 223);
}
.mobileTitle {
  display: none;
}
@media only screen and (max-width: 480px) {
  th {
    display: none;
  }
  .tbody {
    display: flex;
    flex-direction: column;
  }
  tr {
    height: auto;
    padding: 15px;
    border: 1px solid gray;
  }
  .mobileTitle {
    display: contents;
    color: rgb(58, 54, 54);
    font-weight: 300;
  }
}
